.h5p-realitybox-editor .h5peditor-annotations {
  padding: 1rem;
}

.h5p-realitybox-editor .h5peditor-annotations .h5p-babylonbox--canvas {
  width: 100%;
  height: calc(0.75 * 100vh);
  max-height: 500px;
}

.h5p-realitybox-editor .field.wizard .h5peditor-tab-model::before {
  content: '\e922';
}

.h5p-realitybox-editor .field.wizard .h5peditor-tab-assets::before {
  content: '\e917';
}

.h5p-realitybox-editor .field.wizard .h5peditor-tab-settings::before {
  content: '\e916';
}

.h5p-realitybox-editor > .h5peditor-semi-fullscreen .form-manager-head.form-manager-footer {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;
  max-width: 958px;
  margin: auto;
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0 20px 20px;
  box-sizing: border-box;
}

/* Tooltip styling */

.h5peditor-annotations--tooltip {
  position: absolute;
  padding: 0.2rem 0.4rem;
  background: rgba(42, 42, 42, 0.5);
  color: #fff;
  font-size: 13px;
  border-radius: 4px;
  pointer-events: none;
}
